# OS stuff
.DS_Store

# DEB packages
*.deb
*.tgz

# Vagrant stuff
vagrant-lamp/.vagrant/
vagrant-lamp/.vagrant/share
vagrant-moloch/.vagrant/
vagrant-moloch/.vagrant/share
vagrant-splunk/.vagrant/
vagrant-splunk/.vagrant/share/
